.heading {
  padding: 0.5rem;
  background-color: #4caf50;
  color: #ffffff;
  text-align: left;
}
.navigation {
  text-align: right;
}
.link {
  color: #ffffff;
  padding: 1rem;
  font-size: x-large;
}
.container {
  text-align: center;
}

.qContainer {
  text-align: center;
}

button {
  position: relative;
  background-color: #4caf50;
  border: none;
  font-size: 28px;
  color: #ffffff;
  padding: 15px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin-top: 2rem;
  border-radius: 1rem;
}
.angle {
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: large;

  border-style: solid;
  border-color: #5b4caf;
}
.output {
  text-align: center;
  font-size: xx-large;
  display: block;
  color: red;
  padding: 10px;
}

label {
  color: #4caf50;
  font-size: xx-large;
  margin-top: auto;
}
a {
  font-size: larger;
  text-decoration: solid;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.submitButton {
  height: 2em;
}
.question-container {
  margin-top: 2rem;
}
.question {
  font-size: 2rem;
}
.side {
  width: 20rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border-color: #4caf50;
  border-style: solid;
}
.sideInput {
  margin-top: 3rem;
}
.title{
  font-size: 3rem;
}
  
.head{
  font-size: 3em;
}
